/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sptfy-white: #ffffff;
    --sptfy-black: #000000;
    --sptfy-principal: #141922;
    --sptfy-principal-dark: #080b12;
    --sptfy-dark: #7c7e83;
    --sptfy-light: #a3a3a3;
    --sptfy-lighter: #d2d2d2;
    --sptfy-accent: #adff2f;
    --sptfy-foot: #282828;
}

body {
    color: var(--sptfy-dark);
    font-family: 'Roboto', sans-serif;
}

/* #endregion Common */

/* #region Debug */

.debug #main_site {
    background-color: aquamarine;
}

.debug .upgrade {
    background-color: yellow;

}

.debug [class^="col"] {
    height: 200px;
    background-color: greenyellow;
    border: 1px solid black;
}


/* #endregion Debug */

/* #region Utilities */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.d_flex {
    display: flex;
}

.fw-w {
    flex-wrap: wrap;
}

.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-st {
    justify-content: start;
}

.ai-center {
    align-items: center;
}

.ai-st {
    align-items: start;
}

.gp-2 {
    gap: 2rem;
}

.gp-1 {
    gap: 1rem;
}

.gp-05 {
    gap: 0.5rem;
}


/* Style */

.list_unstiled {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
}

h2, h4 {
    color: var(--sptfy-white);
    padding: 0.7rem 0;

}

h4 {
    font-size: 1.2rem;
}

/* Spacing */

.p-1 {
    padding: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}



/* #endregion Utilities */

/* #region Main */

#main_site {
    height: calc(100vh - 90px);
    display: flex;
}

/* #region Sidebar */

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--sptfy-black);
    position: fixed;
    flex-direction: column;
    padding: 0 2rem;
}

.logo_big {
    padding: 1rem 0;
}

.logo_sm {
    display: none;
}

.sidebar a {
    color: var(--sptfy-dark);
}

.sidebar a:hover {
    color: var(--sptfy-white);
}

.up_menu, .bottom_menu {
    
    flex-direction: column;
}

.select img {
    filter: opacity(0.7)
}

.select a:hover img {
    filter: opacity(1);
}

.select img {
    height: 1.2rem;
    aspect-ratio: 1/1;

}

.playlist {
    margin-top: 1.5rem;
}

.select_playlist {
    height: 250px;
    overflow-y: auto;
}

.sidebar hr {
    margin: 1rem 0;
    border: 1px solid var(--sptfy-dark);
}

.bottom_menu span {
    color: var(--sptfy-white);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 0.3rem;
}

.bottom_menu img {
    background-color: var(--sptfy-dark);
    border-radius: 50%;
}


/* #endregion Sidebar */


/* #region Contents */

.topbar {
    height: 90px;
    width: 100%;
    background-color: var(--sptfy-principal-dark);
}

.upgrade {
    width: 220px;
    height: 40px;
    color: var(--sptfy-white);
    border: 1px solid var(--sptfy-white);
    border-radius: 1rem;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.upgrade:hover {
    transform: scale(1.1);
}

.top_site {
    width: calc(100% - 230px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.contents {
    height: calc(100vh - 90px - 90px);
    overflow-y: auto;
    background-color: var(--sptfy-principal);
    color: var(--sptfy-dark);
}

.filter a {
    color: var(--sptfy-dark);
    font-weight: bold;
}

.filter a:hover {
    color: var(--sptfy-white);
}

.filter span {
    text-decoration: underline var(--sptfy-accent);
    text-underline-offset: 0.3rem;
}

.card {
    text-align: center;
}

.card img {
    width: 100%;
}

.album_img {
    position: relative;
}

.overlay {
    display: none;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #0000007a;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay i {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album_img:hover .overlay {
    display: inline-block;
}

.contents [class^="col-"] {
    padding: 1rem 0.5rem;
}

#popular .card img, #popular .overlay {
    border-radius: 50%;
}


/* #endregion Contents */





/* #endregion Main */


/* #region Footer */

#foot_site {
    height: 90px;
    background-color: var(--sptfy-foot);
    
}



/* #endregion Footer */



/* #region Media */

@media screen and (max-width: 1200px){
    .col-md-3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (max-width: 768px){
    .col-sm-6 {
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    .sidebar {
        width: 50px;
        padding: 0.2rem;
        align-items: center;
    }
    .top_site {
        width: calc(100% - 50px);
    }
    .logo_sm {
        display: inline-block;
        width: 100%;
        transform: scale(1.3);
        padding: 0.3rem 0;
    }
    .logo_big, .action, .playlist, .sidebar hr, .bottom_menu span {
        display: none;
    }
    
}

/* #endregion Media */
